.form{
    width: 500px;
    margin: 0 auto;
    text-align: left;
}

.input {
    margin-bottom: 30px;
    display: block;
    margin-top: 10px;
}

.container {
    width: 42vh;
    height: 95vh;
    margin-right: auto; 
    margin-left: 0; 
    padding: 20px; 
    background-color: #f5f5f5;
    border: 1px solid #ccc; 
    border-radius: 4px; 
}

.title {
    text-align: left;
}

.alinhar {
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}

.button {
    margin-right: 25%;
}