.container {
    height: 80vh;
    min-height: 600px;
    background-color: aliceblue;
}

.box {
    display: flex;
    padding-left: 2em;
    text-align: left;
}

.big {
    padding: 0.6em;
}

.load {
    height: 100vh; 
}

.sas{
    margin-top: 5vh;
    display: flex;
    padding-left: 2em;
    text-align: left;
    flex-direction: column;
}