.container {
    display: flex;
    justify-content: center;
    gap: 3%;
}

.pdf {
    display: inline-block;
    margin-bottom: 5vh;
    width: 200px;
    height: 30vh;
    overflow: hidden;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.butto{
    height: 40px;
    width: 90px;
}

.viewer{
    width: 200px;
    height: 30vh;
}

.folder{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10vh;
}

.imager{
    width: 20vh;
}

.kok{
    display: flex;
    flex-direction: column;
}

.download{
    background-color: rgb(61, 66, 77);
    color: aliceblue;
    padding: 4px;
    border-radius: 4px;
    height: 3vh;
    font-size: 15px;
    padding: 10px 20px;
    text-decoration: none;
    border: 1px solid;
    cursor: pointer;
    text-align: center;
    margin-top: 1vh;
}

.deletar{
    all: unset;
    height: 5vh;
    width: 5vh;
    margin-bottom: 10vh;
}

.deletar:hover{
    all: unset;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    margin-bottom: 10vh;
}

.deletari{
    height: 100%;
    width: 100%;
}

.menu img{
    vertical-align: middle;
    margin-left: 70px;
}

.deletaru{
    all: unset;
    height: 5vh;
    width: 5vh;
    margin-bottom: 10vh;
    margin-left: 33%;
}

.deletaru:hover{
    all: unset;
    height: 5vh;
    width: 5vh;
    cursor: pointer;
    margin-bottom: 10vh;
    margin-left: 33%;
}

.ajustar{
    position: relative;
    bottom: 10vh;
}