.container {
    display: flex;
    flex-wrap: wrap;
    gap: 5%;
}

.pdf {
    display: inline-block;
    margin-bottom: 10vh;
    width: 200px;
    height: 295px;
    overflow: hidden;
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 50px;
}

.butto{
    height: 40px;
    width: 90px;
}