.navbar {
    display: flex;
    box-shadow: rgba(0, 0, 0, .15) 0px -2px 10px 0px;
    justify-content: space-between;
    align-items: center;
    padding: .5em 2em;
    background-color: rgb(4, 22, 70);
}

.logo {
    font-size: 1.2em;
    font-weight: 900;
    text-transform: uppercase;
    color: aliceblue;
}

.links_list {
    display: flex;
    list-style: none;
    margin-right: 1em;
}

.links_list li a{
    padding: .4em .6em;
    color: aliceblue;
}

.button {
    padding: .1em;
    margin-left: .3em;
}

.active {
    background-color: rgb(1, 8, 44);
    border-radius: 12px;
}

.image_cropper {
    width: 3em;
    height: 3em;
    overflow: hidden;
    border-radius: 50%;
    position: absolute;
    top: 12px;
}